{% extends "base.html.twig" %}

{% set pageType = "homepage" %}

{% block pageTitle %}{{ 'page_title.homepage'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <p class="test ">Hello, {{ name }} et {{ name2 }} !</p>
            <a href="">{{ 'navbar.home'|trans }}</a>
            <a href="">{{ 'navbar.section1'|trans }}</a>
            <br /><br />
            <span class="glyphicon glyphicon-star"></span>&nbsp;<span>Bootstrap</span>
            <br /><br />
            <i class="fa fa-car" aria-hidden="true"></i>&nbsp;Font Awesome

        </div>
    </div>

    {% include 'components/picture.html.twig' with {
        'name': 'istic-env',
        'alt': 'pictures.home1'|trans
    } %}

    {% include 'components/picture.html.twig' with {
        'name': 'hq',
        'ext': 'png',
        'alt': 'pictures.home1'|trans
    } %}

    {% include 'components/picture.html.twig' with {
        'name': 'unsplash',
        'alt': 'pictures.home1'|trans
    } %}
{% endblock %}
